.Search {
  display: flex;
  gap: 15px;

  &__input {
    background-color: #202425;
    color: #fff;
    border-radius: .4rem;
    font-size: 18px;
    padding: .3rem .8rem;
    border: none;
  }

  &__input::placeholder{
    color: #fff;
  }

  &__input:focus{
    outline: none;
  }

  &__button {
    background-color: #323337;
    color: white;
    font-weight: 600;
    padding: .5rem 1.2rem;
    border-radius: .4rem;
    text-decoration: none;

  }
}
