.formAuth{
      width: 50%;
      display: grid;
      align-content: center;
      padding: 0 5rem;
    &__pageName{
        align-self: start;
    }
    &__form{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
    &__title{
        font-size: 30px;

    }
    &__input{
        width: 75%;
        padding: .3rem 1.8rem;
        border-radius: .4rem;
        outline: none;
        margin: 5px 0;
    }
    &__input::placeholder{
        padding: 0 ;
    }
    &__inputsContainer{}
    &__buttonsContainer{}
    &__link{}
    &__button{} 
}