.Course{

    &__link{
        text-decoration: none;
    }
    &__image{
    width: 100%;
    border-radius: .5rem;
    }
    &__categorie{
        display: inline-flex;
        gap: 6px;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        background-color: red;
        padding: .4rem 1rem;
        border-radius: .3rem;
        background-color: rgba(147, 83, 207, .2);   
        color: #9353CF;
    }

    &__doubt{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #9353CF;
    }

    &__name{
        margin-top: 12px;
        color: #fff;

    
    }
    &__row{
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    &__price{
        color: #89D5A9;
    }

    &__pencil{
        color: #89D5A9;
    }
    &__description{
        margin-top: 10px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;  
        -webkit-box-orient: vertical;
        color: #8F8F8F;
    }
}